name: PR CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read

jobs:
  lint:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/_lint.yml

  test:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/_test.yml
